<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Hola Mundo!</title>
      <style type="text/css" src="./css/stylesheet.css"></style>
      <!-- <script> -->
      <!-- require('./layout/head.html'); -->
      <!-- </script> -->

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <link type="text/css" rel="stylesheet" href="./css/materialize.min.css"  media="screen,projection"/>

      <link rel="stylesheet" href="./css/stylesheet.css">
   </head>
   <body>
      <header id="header" class="">
         <nav id="navegador" class="nav-extended violeta">
            <div class="nav-wrapper">
               <a href="./index.html"><img class="icon" src="./images/icon.png" alt=""></a>
               <ul id="secciones" class="right hide-on-med-and-down">

               </ul>
            </div>
            <div class="nav-content">
               <ul id="pestanias" class="tabs tabs-transparent">
                  <li class="tab right" id="reloj_li">
                     <p id="hora"></p>
                     <p>:</p>
                     <p id="minutos"></p>
                     <p>:</p>
                     <p id="segundos"></p>
                  </li>
               </ul>
            </div>
         </nav>


         <!-- Modal Trigger -->


         <div id='miVentana' class='modal modal-fixed-footer' style='display:none;'>
            <div class="modal-content">
               <h4>Ajustes</h4>
               <p>Directorio del juego</p>
               <input type="text" id="comm-path" name="" value="">
               <button type="button" id="comm-path-save" class="btn" name="button">Actualizar</button>
            </div>
            <div class="modal-footer">
               <div class="modal-footer">
               <a href="#!" id="settings-close" class="modal-action modal-close waves-effect waves-green btn-flat">cerrar</a>
            </div>
         </div>

      </header><!-- /header -->

      <div id="view-index">
         <div class='container'>
               <div class="contenedor">
                  <span class="col s6 m6 l6" style="text-align: center">
                     <h1>sell-mu</h1>
                     <p>Esta es una aplicacion para hacer mas sensillos algunos de las tareas que puedes hacer con el mu.</p>
                     <p>Todos los derechos reservados al creador GamiDaga, este no se hara responsable por cualquier uso inaporipiado de la aplicacion</p>
                  </span>
               </div>
         </div>
      </div>

      <div id="view-comandos" class='' style="display:none">
         <div class='container'>
            <div class="contenedor">
               <span class="col s6 m6 l6">
                  <h4>Stats</h4>
                     <div class="desplegables collapsible">
                        <div  class="collapsible-header fondo-blanco desplegable-header" style="background-color:white;"><i class="material-icons">format_list_bulleted</i>Stats</div>
                        <div  class="collapsible-body fondo-blanco desplegable-body" style="display:none;">
                           <ul class="fondo-blanco">
                              <li>/addstr </li>
                              <li>/addagi</li>
                              <li>/addvit</li>
                              <li>/addene</li>
                              <li>/addcmd</li>
                           </ul>
                        </div>
                     </div>
               </span>

               <span class="col s6 m6 l6">
                  <h4>Macros</h4>
                     <div class="desplegables collapsible">
                        <div  class="collapsible-header fondo-blanco desplegable-header" style="background-color:white;"><i class="material-icons">format_list_bulleted</i>Macros</div>
                        <div  class="collapsible-body fondo-blanco desplegable-body" style="display:none;">
                           <ul id="listAlt" class="fondo-blanco">
                              <li>Alt+1 <input type="text" id="Alt1" name="commAlt" value=""></li>
                              <li>Alt+2 <input type="text" id="Alt2" name="commAlt" value=""></li>
                              <li>Alt+3 <input type="text" id="Alt3" name="commAlt" value=""></li>
                              <li>Alt+4 <input type="text" id="Alt4" name="commAlt" value=""></li>
                              <li>Alt+5 <input type="text" id="Alt5" name="commAlt" value=""></li>
                              <li>Alt+6 <input type="text" id="Alt6" name="commAlt" value=""></li>
                              <li>Alt+7 <input type="text" id="Alt7" name="commAlt" value=""></li>
                              <li>Alt+8 <input type="text" id="Alt8" name="commAlt" value=""></li>
                              <li>Alt+9 <input type="text" id="Alt9" name="commAlt" value=""></li>
                              <li>Alt+0 <input type="text" id="Alt0" name="commAlt" value=""></li>
                           </ul>

                           <button type="button" id="comm-codes-save" class="btn" name="button">Guardar</button>
                        </div>
                     </div>

               </span>
            </div>
         </div>
      </div>



      <div id="view-horarios" class="" style="display:none">
         <div class='container'>
           <div class="contenedor">
      	      	<div class="col s6 m6 l6">
             	  		<h4>Blood Castle</h4>
                     <div class="switch">
                        <i class="material-icons">access_alarms</i>
                         <label>
                           Off
                           <input id="blood_alarma" type="checkbox">
                           <span class="lever"></span>
                           On
                         </label>
                     </div>
                     <audio id="music-alarm-blood" preload="auto" src="./music/castle.mp3"></audio>
                     <a href="#" class="btn" id="stop-alarm" style="display: none" ><i class="material-icons">alarm_off</i></a>

                     <h6>Sonara una alarma cuando falten 10 min para el evento (recuerda que las puertas se habren 5 min antes)</h6>
                     <div class="desplegables collapsible">
                        <div id="blood-header" class="collapsible-header fondo-blanco desplegable-header" style="background-color:white;"><i class="material-icons">schedule</i>Horario</div>
                        <div id="blood-body" class="collapsible-body fondo-blanco desplegable-body" style="display:none;">
                           <ul class="fondo-blanco">
                              <li>00:00 hs</li>
                              <li>04:00 hs</li>
                              <li>08:00 hs</li>
                              <li>12:00 hs</li>
                              <li>16:00 hs</li>
                              <li>20:00 hs</li>
                              <li>24:00 hs</li>
                           </ul>
                        </div>
                     </div>
                  </div>
                        <!-- <li>
                           <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                           <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li>
                        <li>
                           <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                           <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                        </li> -->
           	      	<!-- <ul class="collapsible">
                        <li>00:00 hs</li>
                        <li>04:00 hs</li>
                        <li>08:00 hs</li>
                        <li>12:00 hs</li>
                        <li>16:00 hs</li>
                        <li>20:00 hs</li>
                        <li>24:00 hs</li>
           	      	</ul> -->
                     <span class="col s6 m6 l6">
           		  		<h4>Devil Square</h4>
                        <h4></h4>
                           <div class="desplegables collapsible">
                              <div  class="collapsible-header fondo-blanco desplegable-header" style="background-color:white;"><i class="material-icons">schedule</i>Horario</div>
                              <div  class="collapsible-body fondo-blanco desplegable-body" style="display:none;">
                                 <ul class="fondo-blanco">
                                    <li>02:00 hs</li>
                                    <li>06:00 hs</li>
                                    <li>10:00 hs</li>
                                    <li>14:00 hs</li>
                                    <li>18:00 hs</li>
                                    <li>22:00 hs</li>
                                 </ul>
                              </div>
                           </div>
                     </span>

                     <span class="col s6 m6 l6">
                        <h4>Double Goer</h4>
                           <div class="desplegables collapsible">
                              <div  class="collapsible-header fondo-blanco desplegable-header" style="background-color:white;"><i class="material-icons">schedule</i>Horario</div>
                              <div  class="collapsible-body fondo-blanco desplegable-body" style="display:none;">
                                 <ul class="fondo-blanco">
                                    <li>2:30</li>
                                    <li>12:30</li>
                                    <li>16:30</li>
                                    <li>18:30</li>
                                    <li>20:30</li>
                                    <li>22:30</li>
                                    <li>24:30</li>
                                 </ul>
                              </div>
                           </div>
                     </span>
            	</div>
         </div>
      </div>



      <footer>
         <!-- <script> require('./index.js'); </script> -->
         <script> require('./header.js'); </script>
         <script> require('./render.js'); </script>

         <script type="text/javascript"> $ =  require('./js/jquery-3.1.1.min.js') </script>
         <!-- <script type="text/javascript" src="./js/jquery-3.1.1.min.js"></script> -->
         <script type="text/javascript" src="./js/materialize.min.js"></script>

         <script type="text/javascript">


         </script>
         <!-- <script src=''> -->
         <!-- require('./layout/footer.html'); -->
         <!-- </script> -->
      </footer>
   </body>
</html>
